h1 {
    font-size: 65px;
}

.flexible {
    background-image: url(donation13.jpg);
    background-size: 100%;
    padding-top: 120px;
    height: 800px;
}

.donate {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-left: 280px;
    padding-right: 280px;
    color: white;
}

.Top-b-hea {
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 15%;
}

.link-button {
    text-align: center;
}

.down-c {
    background-color: tomato;
    height: 50px;
    width: 140px;
}

.dt-top {
    padding-left: 280px;
    padding-right: 280px;
}

.dt-top {
    height: 800px;
}

.bt-text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.top-c-down {
    text-align: center;
    padding-left: 280px;
    padding-right: 280px;
}

.dolor-dm {
    text-align: center;
}

.dolor-cm {
    height: 100px;
    width: 140px;
    margin-right: 40px;
}

#dolor-am {
    background-color: tomato;
    border-color: red;
}